In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
SEED = 42
np.random.seed(SEED)

In [11]:
dataset = pd.read_csv('../data/complete_dataset_region/complete_dataset_region.csv')
dataset.head()

,country,region,score,gdp,social_support,hle,freedom,generosity,corruption,positive_affect,negative_affect,year
0,afghanistan,asia,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195,2008
1,afghanistan,asia,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092,2009
2,afghanistan,asia,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324,2010
3,afghanistan,asia,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175,2011
4,afghanistan,asia,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919,2012

In [12]:
dataset['cat_region'] = pd.Categorical(dataset['region'])
dataset['cat_region'] = dataset['cat_region'].cat.codes
dataset.sample(5)

,country,region,score,gdp,social_support,hle,freedom,generosity,corruption,positive_affect,negative_affect,year,cat_region
1053,malaysia,asia,5.384702,9.875430,0.791666,65.440002,0.874320,-0.008678,0.858095,0.821611,0.163550,2009,0
2022,north cyprus,western europe,5.535500,10.576036,0.820357,73.897537,0.795294,0.012134,0.626116,0.000000,0.000000,2021,10
645,greece,western europe,5.302619,10.261199,0.802606,72.000000,0.481617,-0.260160,0.898471,0.700504,0.336208,2016,10
390,congo,sub-saharan africa,4.639227,6.831725,0.769546,50.779999,0.557286,-0.034522,0.807407,0.634003,0.229651,2012,9
310,central african republic,sub-saharan africa,3.677826,7.125054,0.387391,43.080002,0.780018,-0.015844,0.834499,0.524068,0.277180,2011,9

In [17]:
X = dataset.drop(['country', 'region', 'score'], axis=1)
y = dataset['score']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=SEED)

In [20]:
LinearRegression().fit(x_train, y_train).score(x_test, y_test)

0.7509008142025839